h3{
    font-size: 30px;
    color: darkblue;
    border: 2px solid black;
    text-shadow: 3px 3px red;
    text-align: center;
}
li{
    list-style: none;
}
ul{
    border: 1px solid blue;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
}
ul>li{
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
}
.tx{
    font-size: 10px;
    color: red;
}